:root {

  /* color */

  --white: #FFFFFF;

  --color-brand-green-primary-light: #00D7A4;
  --color-brand-blue-primary-light: #0085CA;
  --color-brand-blue-primary-dark: #012169;
  --color-brand-gradient: linear-gradient(to right,
      var(--color-brand-blue-primary-light),
      var(--color-brand-green-primary-light));
  --color-neutral-gray-light: #D7D9D7;
  --color-neutral-gray-dark: #42454C;
  --color-neutral-offwhite-light: #f1f4f8;



  /* space */

  --space-xs: 5px;
  --space-sm: 10px;
  --space-md: 20px;
  --space-lg: 40px;
  --space-xl: 60px;
  

  /* border */
  --radius-sm: 8px;
  --radius-md: 15px;
  --radius-pill: 80px;


}