@import url(./reset.css);
@import url(./root.css);



body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-image: url('../img/bg.jpg'); 
  background-repeat: repeat; 
  background-size: auto;
  background-color: rgba(255, 255, 255, 0.5); /* branco com 50% */
  background-blend-mode: lighten;
  
}



header{
  height: 120px;
}

.brand{
    margin-top: 30px;
    margin: 80px auto;
    width: 250px;
}

.container {
  margin: 0 auto;
  width: 900px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}

.flex2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.avatar {
  width: 50px;
  border: 1px solid black;
  background-color: white;
  border-radius: 100px;
}
.avatar_blank {
  width: 50px;
}

.pergunta {
  width: 430px;
  background-color: var(--bubble-in);
  color: var(--text-primary);
  border-radius: 0 5px 5px 5px;
  padding: 10px;
  align-self: flex-start;
}

.pergunta::before {
  margin-left: -20px;
  margin-top: -10px;
  content: "";
  width: 0;
  height: 0;
  border-right: 10px solid var(--bubble-in);
  border-bottom: 10px solid transparent;
  position: absolute;
}

.resposta {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 330px;
  background-color: var(--bubble-out);
  border-radius: 5px 0 5px 5px;
  padding: 10px;
  align-self: flex-end;
  position: relative;
}

.resposta::after {
  margin-top: -10px;
  content: "";
  position: absolute;
  top: 10px;
  right: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid var(--bubble-out);

  border-bottom: 10px solid transparent;
}

.aceitar {
  width: 50px;
  filter: invert(100%) brightness(100%);
  cursor: pointer;
}


.visibility{
  display: block;

}



.call-screen {
  width: 350px;
  height: 700px;
  background-image: url('../img/cell.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 40px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  position: relative;
}

.profile img {
    margin-top: 90px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 8px solid var(--amarelo); /* borda circular como na imagem */
  object-fit: cover;
}

.name {
  margin-top: 90px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  text-align: center;
}

.buttons {
  position: absolute;
  bottom: 120px;
  display: flex;
  gap: 60px;
}

.buttons button {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: none;
  font-size: 28px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accept {
  background-color: #25d366; 
  color: #fff;
  cursor: pointer;
}

.reject {
  background-color: #ff3b30; 
  color: #fff;
  cursor: pointer;
}




@media (max-width:500px) {
  .container {
    width: 400px;
 
  }
}
